name = "starkliup-install"
main = "build/worker/shim.mjs"
compatibility_date = "2023-06-17"
account_id = "${CLOUDFLARE_ACCOUNT_ID}"
workers_dev = false

# `unbound` is not available on free plan
usage_model = "bundled"

routes = [
  "${ROUTES}"
]

[build]
command = "cargo install --version 0.0.9 worker-build && worker-build --release"
